html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Alata, sans-serif;
} 

:root {
  --color: #fca103; 
  --green: #73de00;
  --red: #ff1f4f;
  --purple: #7433ff;
  --dark: #0b1217
} 

.spacer {
  height: 50px;
}
.spacers {
  height: 30px;
}
.spacerl {
  height: 100px;
} 
* {
  box-sizing: border-box;
  letter-spacing: 0.2px;
  outline: none;
  scroll-behavior: smooth;
}
::selection {
  background: var(--color);
  color: white;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
} 
.hidescroll::-webkit-scrollbar {
  display: none;
} 
::-webkit-scrollbar-track {
  background: #eee; 
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: var(--color);
  border-radius: 50px;
}
h1,h2,h3,h4,h5,h6,i,p,li,button,a,span,small,img,section,input,label {
  position: relative;
  margin: 0;
}
img {
  object-fit: cover;
  max-width: 100%;
}
button {
  outline: none;
  cursor: pointer;
  border: none;
  transition: all 0.2s;
  border-radius: 40px;
  padding: 10px 20px;
  background: var(--color);
  color: #fff;
} 
button:active {
  transform: scale(0.97);
}
button:hover {
  filter: brightness(110%);
}
button i, a i {
  margin-right: 10px;
}
input {
  border: none;
  padding: 10px;
  border-radius: 6px;
  transition: all 0.3s;
  background: #f1f1f1;
  text-align: center;
}
input:focus, select:focus, textarea:focus {
  box-shadow: 0 1px 10px rgba(0,0,0,0.1);
  background: #f9f9f9;
}
a {
  text-decoration: none;
  color: #000;
}
input, textarea, select {
  outline: none;
}
textarea {
  font-family: inherit;
}
textarea::placeholder {
  color: #bbb;
}
input::placeholder {
  color: #bbb;
  font-size: 13px;
}
hr {
  border: none;
}


.appcontainer {
  position: relative;
  display: grid;
  grid-template-columns: 250px auto 350px;
}
.sidebar {
  background: #fff;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.homecont {
  background: #fff;
  height: 100vh;
  padding: 40px 30px;
  overflow: hidden;
}
.navbar {
  background: #f5f5f5;
  height: 100vh;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.navbar .toptools i {
  margin-right: 10px;
}
.logocont {
  position: relative;
  height: 150px;
  width: 100%;
}
.menu {
  position: relative;
  background: var(--color);
  height: 100%;
  width: 100%;
  border-radius: 0 70px 0 0;
  display: flex;
  padding: 50px 0;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.menu .innermenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.menu .innermenu .activelink {
  background: rgba(255,255,255,0.3);
}
.menu button {
  background: rgba(255,255,255,0.3);
  padding: 15px 20px;
  color: #333;
}
.menu button:hover {
  background: rgba(255,255,255,0.6);
} 
.menu a {
  margin: 15px auto;
  padding: 8px 15px;
  border-radius: 50px;
  transition: all 0.2s;
  color: #555;
}
.menu a:hover {
  background: rgba(255,255,255,0.3);
}
.menu a:active {
  transform: scale(0.97);
}
.logocont {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logocont h3 {
  position: relative;
  color: #aaa;
  text-transform: uppercase;
  margin-top: 10px;
  font-weight: 500;
}
.logocont i {
  font-size: 40px;
  color: var(--color);
}
.navbar .topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navbar .topbar i {
  color: #555;
  padding: 5px;
  font-size: 20px;
  transition: all 0.2s;
  cursor: pointer;
}
.navbar .topbar i:hover {
  color: var(--color);
}
.navbar .topbar img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  cursor: pointer;
}
.hometitles {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.hometitles h1 {
  color: #555;
  font-size: 35px;
}
.welcomecont {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  background: rgba(252, 161, 3,0.3);
  border-radius: 20px;
}
.welcomecont img {
  width: 200px;
  margin-top: 20px;
}
.welcomecont h2 i {
  margin-right: 10px;
  color: var(--color);
}
.statsboxcont {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
.statsboxcont > div {
  display: flex;
  justify-content: flex-end;
  grid-gap: 20px;
}
.welcomecont .statsbox {
  width: 200px;
  height: 80px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0px 6px rgba(0,0,0,0.07);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcomecont .statsbox:nth-of-type(1) { background: var(--color); }
.welcomecont .statsbox:nth-of-type(2) { background: var(--purple); }
.welcomecont .statsbox:nth-of-type(3) { background: var(--red); }
.welcomecont .statsbox h4 {
  font-size: 35px;
  color: #fff;
  font-weight: 500;
}
.welcomecont .statsbox h6 {
  font-size: 14px;
  color: #eee;
  font-weight: 500;
}
.welcomecont .statsbox i {
  font-size: 30px;
  color: #fff;
}
.welcomecont .statsbox > div {
  text-align: center;
}
.welcomecont h2 {
  display: flex;
  flex-direction: column;
}
.welcomecont h2 span {
  font-size: 14px;
  color: #bbb;
  font-weight: 500;
  margin-bottom: 5px;
}
.homeupdates {
  position: relative;
  width: 100%;
  padding: 20px;
  background: rgba(252, 161, 3,0.3);
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.homeupdates h5 {
  color: #444;
  font-weight: 600;
}
.homeupdates a {
  font-size: 13px;
  color: #444;
}
.homeupdates a:hover {
  text-decoration: underline;
}
.homeupdates h6 {
  font-weight: 500;
  margin-bottom: 10px;
}
.maininputcont {
  position: relative;
} 
.maininputcont input {
  position: relative;
  width: 600px;
  padding: 15px;
  border-radius: 40px;
  background: #f5f5f5;
  padding-left: 50px;
  text-align: left;
}
.maininputcont i {
  position: absolute;
  font-size: 17px;
  color: #ccc;
  z-index: 10;
  top: 14px;
  left: 20px;
}
.apppage {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 200px;
  background: #fff;
  overflow-y: scroll;
  border-radius: 10px 10px 0 0;
  min-height: 60vh;
}
.apppage::-webkit-scrollbar {
  display: none;
}
.appsection {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 30px;
  flex-wrap: wrap;
}
.appsection > h4 {
  color: #555;
  flex-basis: 100%
}
.cardcont {
  position: relative;
  height: 350px;
  width: 220px; 
  border-radius: 20px;
  background: #fff;
  background-position: center;
  background-size: cover;
  box-shadow: 0 3px 6px rgba(0,0,0,0.07);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px;
  transition: all 0.3s;
  cursor: pointer;
}
.cardcont:hover {
  box-shadow: 0 3px 15px rgba(0,0,0,0.2);
}
.cardcont:active {
  transform: scale(0.97);
}
.cardcont::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%);
  z-index: 0;
} 
.cardcont .cardcontent {
  position: relative;
  z-index: 10;
}
.cardcont h5 {
  color: #333;
  font-size: 19px;
  width: 100px;
}
.cardcont h6 {
  font-size: 13px;
  color: #777;
  font-weight: 500;
  text-transform: capitalize;
}
.cardcont .ratingsdiv {
  position: relative;
  margin-top: 10px;
}
.cardcont .ratingsdiv i {
  color: var(--color);
  font-size: 13px;
  margin-right: 4px;
}
.cardcont .cardinfo {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 5px 20px;
}
.cardcont .cardinfo small {
  color: #777;
  font-weight: 300;
}
.cardcont .cardinfo small i {
  margin-right: 5px;
}
 
.onerecipehead {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.onerecipehead .playbtn {
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 100;
  padding: 10px 15px;
}
.onerecipehead .favbtn {
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 100;
  padding: 10px 15px;
  background: var(--green);
}
.covercont {
  position: relative;
  width: 100%;
  height: 250px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}
.covercont::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 60%, rgba(255,255,255,0.8) 100%);
  z-index: 0;
}
.centerimg {
  position: relative;
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-top: -100px;
  box-shadow: 0 12px 28px rgba(0,0,0,0.35);
  margin-bottom: 20px;
}
.onerecipehead h2 {
  margin-top: 20px;
  font-size: 30px;
  color: #333;
}
.onerecipehead .oneratings {
  position: relative;
  margin-top: 15px;
}
.onerecipehead .oneratings i {
  color: var(--color);
  margin: auto 2px;
  font-size: 18px;
}
.onerecipehead p {
  margin-top: 20px;
  color: #aaa;
  width: 450px;
  text-align: center;
}
.onerecipehead .oneprepdiv {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  grid-gap: 20px;
}
.onerecipehead .oneprepdiv big {
  font-size: 35px;
  color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70px;
}
.onerecipehead .oneprepdiv small {
  font-weight: 500;
  color: #aaa;
  font-size: 13px;
  text-transform: capitalize;
}
.onerecipehead .oneprepdiv small i {
  margin-right: 5px;
  color: #bbb;
}
.onerecipehead .oneprepdiv hr {
  position: relative;
  width: 1px;
  height: 50px;
  background: #eee;
}
.ingredientscont h5, .extrascont h5 {
  font-size: 20px;
  color: #555;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.extrascont {
  display: flex;
  grid-gap: 30px;
  justify-content: space-between;
}
.extrascont h5 {
  justify-content: flex-start;
  margin-bottom: 20px;
}
.ingredientscont h5 i, .extrascont h5 i {
  margin-right: 10px;
}
.ingredientscont .listview {
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s;
}
.ingredientscont .listview:hover {
  color: var(--color);
}
.ingredientscont h5 span, .extrascont h5 span {
  font-size: 17px;
}
.ingredientscont .listviewcont {
  align-items: flex-start;
  flex-direction: column;
}
.ingredientscont .listviewcont .ingreditem {
  background: none;
  flex-direction: row;
  width: auto;
  height: auto;
  cursor: auto;
}
.ingredientscont .listviewcont .ingreditem > div {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}
.ingredientscont .listviewcont .ingreditem h6 {
  top: auto;
  margin: 0;
}
.ingredientscont .listviewcont .ingreditem small {
  top: 1px;
}
.ingredientscont .listviewcont .ingreditem small::before {
  content: "("
}
.ingredientscont .listviewcont .ingreditem small::after {
  content: ")"
}
.ingredientscont .listviewcont .ingreditem i {
  font-size: 17px;
}
.ingredientsdiv {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  grid-gap: 15px;
  margin-top: 30px;
}
.ingreditem {
  position: relative;
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-gap: 10px;
  border-radius: 10px;
  background: #f5f5f5;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
}
.ingreditem:hover {
  background: #e9e9e9;
}
.ingreditem i {
  color: #74d40070;
  font-size: 30px;
}
.ingreditem h6 {
  font-size: 14px;
  margin-top: 7px;
  color: #555;
}
.ingreditem small {
  color: #aaa;
}
.recipestepscont {
  position: relative;
  margin-top: 30px;
  padding: 20px;
  background: #f5f5f5;
  width: 80%;
  border-radius: 20px;
}
.recipestepscont h5 {
  margin-bottom: 20px;
  color: var(--color)
}
.recipestepscont p {
  margin-bottom: 8px;
  color: #777;
  display: flex;
  justify-content: flex-start;
  grid-gap: 10px;
  font-size: 15px;
}
.recipestepscont p span {
  color: var(--color);
  font-weight: 600;
}
.moredetailscont {
  position: relative;
}
.moredetailscont h5 {
  margin-bottom: 20px;
}
.moredetailscont h6 {
  margin: 12px 0;
  width: 270px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #aaa;
  font-weight: 500;
}
.moredetailscont h6 i {
  margin-right: 10px;
}
.moredetailscont h6 span {
  color: #333;
  font-weight: 600;
}
.moredetailscont h6 span::first-letter {
  text-transform: capitalize;
}
.videocont iframe {
  width: 350px;
  height: 200px;
  border-radius: 20px;
}

.addrecipepage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.newrecipediv {
  position: relative;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  border-radius: 20px;
  background: #f1f1f1;
  cursor: pointer;
  transition: all 0.3s;
}
.newrecipediv:hover {
  background: var(--color);
}
.newrecipediv:active {
  transform: scale(0.97);
}
.newrecipediv i {
  font-size: 30px;
  color: #555;
}
.newrecipediv h4 {
  font-size: 20px;
  color: #555;
}
.createrecipecont {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgba(255,255,255,0.95);
  z-index: 990;
}
.closecreate {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 30px;
  color: #555;
  cursor: pointer;
  padding: 5px;
}
.createrecipediv {
  position: relative;
  width: 800px;
  height: 600px;
  border-radius: 10px;
  background: #fafafa;
  box-shadow: 0 2px 20px rgba(0,0,0,0.1);
  padding: 40px 30px;
  overflow: hidden;
}
.createrecipediv .egglogo {
  position: absolute;
  top: 20px;
  left: 20px;
  color: var(--color);
  font-size: 20px;
}
.createrecipediv h3 {
  font-size: 23px;
  color: #444;
  text-transform: capitalize;
  margin-bottom: 50px;
}
.createrecipediv .stage {
  position: relative;
  width: 100%;
  height: 480px;
  overflow-y: scroll;
}
.createrecipediv .innerstage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  grid-gap: 30px 0;
  padding-bottom: 30px;
}
.createrecipediv .innerstage > div, .createrecipediv .innerstage form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  grid-gap: 30px;
}
.createrecipediv .innerstage form {
  align-items: flex-end;
}
.createrecipediv .innerstage .formbtn1 {
  width: 140px;
}
.createrecipediv .innerstage .formbtn2 {
  width: 90px;
}
.createrecipediv .innerstage h3 i {
  margin-right: 10px;
}
.createrecipediv .stage label {
  width: 80%;
  text-align: center;
}
.createrecipediv .stage input, .createrecipediv .stage select {
  padding: 12px 10px;
  border: 1px solid #eee;
  background: #f4f4f4;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s;
  width: 100%;
  outline: none;
  text-align-last:center;
}
.createrecipediv .stage label h6 {
  font-size: 13px;
  color: #555;
  margin-bottom: 12px;
}
.recipeimgplace {
  position: relative;
  height: 180px;
  max-width: 380px;
  border-radius: 20px;
  background:#eee;
  transition: all 0.3s;
  cursor: pointer;
  background-position: center;
  background-size: cover;
}
.recipeimgplace:hover {
  background-color: #e5e5e5;
}
.createrecipediv hr {
  height: 1px;
  background: #eee;
  width: 50%;
  margin-top: 20px;
}
.stagebtndiv {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.stagebtndiv button:last-child i {
  margin-left: 10px;
  margin-right: 0;
}
.createrecipediv .stage .addingredinp input {
  width: 50%;
}
.createrecipediv .innerstage .ingredientsrow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.createrecipediv .innerstage .ingredientsrow input {
  padding: 0;
  background: none;
  border: none;
  text-align-last: left;
  padding: 10px;
  cursor: auto; 
}
.ingredientsrow h6 {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #777;
  width: 100%;
  border-radius: 10px;
  margin: auto;
  border-bottom: 1px solid #eee;
}
.recipesrow h6 {
  margin-bottom: 15px;
}
.ingredientsrow h6 span {
  flex-basis: 33%;
}
.recipesrow h6 span:first-child {
  flex-basis: 60px;
  color: #ddd;
  font-size: 40px;
  color: var(--color);
  opacity: 0.3;
}
.recipesrow h6 span:nth-of-type(2) {
  flex-basis: 80%;
}
.ingredientsrow h6 span:last-child {
  flex-basis: 70px;
}
.ingredientsrow h6 span i {
  margin: auto 5px;
  cursor: pointer;
  opacity: 0.5;
  font-size: 16px;
  transition: all 0.2s;
}
.ingredientsrow h6 span i:hover {
  color: var(--color);
}
.ingredientsrow h6:hover i {
  opacity: 1;
}
.ingredientsrow h6.ingredientsrowhead {
  background: #f1f1f1;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 13px;
}
.ingredientsrow h6.ingredientsrowhead span {
  flex-basis: 10%;
}
.ingredientsrow > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.createrecipediv .innerstage .starsdiv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 10px;
}
.starsdiv i {
  font-size: 24px;
  color: var(--color);
  cursor: pointer;
}
.starsdiv label {
  flex-basis: 100%;
}
.createrecipediv .innerstage textarea {
  border: none;
  background: #f5f5f5;
  padding: 10px;
  width: 80%;
  min-height: 120px;
  resize: vertical;
  border-radius: 10px;
  transition: all 0.2s;
}

.notifscont, .onenotifcont {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 40px;
  text-align: center;
  z-index: 999;
}
.onenotifcont {
  bottom: 60px;
}
.notifscont .notifs, .onenotifcont .notifs {
  position: relative;
  top: 40px;
  max-width: 600px;
  opacity: 0;
  padding: 15px 30px;
  border-radius: 10px;
  background: var(--color);
  opacity: 0.9;
  margin: auto;
  display: flex; 
  align-items: center;
  transition: all 0.4s;
}
.notifscont button, .onenotifcont .notifs button {
  background: #fff;
  color: #333;
  margin: auto 15px;
  padding: 5px 10px;
}
.notifscont .notifs i, .onenotifcont .notifs i {
  margin-right: 20px;
  font-size: 20px;
  color: #fff;
}
.notifscont .notifs i.fa-times, .onenotifcont .notifs i.fa-times {
  cursor: pointer;
}
.notifscont .notifs p, .onenotifcont p {
  font-size: 14px;
  font-weight: 500;
  color: #eee;
}

.oneactionscont {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  grid-gap: 20px 30px;
  align-items: center;
}
.recipeeditcover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  z-index: 990; 
}
.recipeeditcont {
  position: fixed;
  top: 0;
  right: -650px;
  width: 600px;
  height: 100vh;
  background: #fff;
  z-index: 999;
  box-shadow: -11px 0px 35px -23px rgba(0,0,0,0.48);
  padding: 30px;
  transition: all 0.3s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.innereditorcont {
  position: relative;
  overflow-y: scroll;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  grid-gap: 30px;
  height: 80vh;
  width: 100%;
}
.recipeeditcont .fa-times {
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 30px;
  color: #555;
  padding: 5px;
  cursor: pointer;
}
.recipeeditcont h2 {
  font-size: 24px;
  color: #444;
  margin-bottom: 30px;
}
.recipeeditcont label {
  width: 95%;
  text-align: center; 
}
.recipeeditcont label h6 {
  margin-bottom: 10px;
  font-size: 13px;
  color: #444;
}
.recipeeditcont label input, .innereditorcont textarea {
  width: 100%;
  padding: 15px;
  transition: all 0.3s;
}
.innereditorcont textarea {
  border-radius: 10px;
  background: #f1f1f1;
  border: none;
  min-height: 100px;
}
.editoractions {
  position: relative;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 10px 20px;
  width: 100%;
}
.recipeeditcont .editarrcont {
  position: relative;
  background: #f1f1f1;
  width: 95%;
  border-radius: 10px;
  padding: 20px 10px;
}
.recipeeditcont .editarrcont h6 {
  font-size: 13px;
  color: #555;
  text-align: center;
}
.recipeeditcont .editarrcont > h6 {
  margin-bottom: 20px;
}
.recipeeditcont .editarrcont span {
  font-size: 12px;
  color: #555;
  width: 80%;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
.recipeeditcont .editarrcont > div, .recipeeditcont .editarrcont form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 10px;
}
.recipeeditcont .editarrcont form i {
  padding: 5px 6.5px;
  border-radius: 100%;
  color: #fff;
  background: var(--color);
  cursor: pointer;
  transition: all 0.2s;
  margin: 0;
}
.recipeeditcont .editarrcont form button {
  padding: 0;
}
.recipeeditcont .editarrcont > div i {
  color: #777;
  cursor: pointer;
  padding: 5px 6.5px;
  transition: all 0.2s;
}
.recipeeditcont .editarrcont > div i:hover {
  color: var(--color);
}
.recipeeditcont .editarrcont2 > div {
  justify-content: space-around;
}
.recipeeditcont .editarrcont2 > div h6 {
  font-size: 16px;
  color: #777;
}
.recipeeditcont .editarrcont label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 10px;
  margin-bottom: 10px;
}
.recipeeditcont .editarrcont label input {
  background: #fafafa;
}

.catcardcont {
  position: relative;
  width: 250px;
  height: 220px;
}
.catcardcont:hover .catcard {
  box-shadow: 0 1px 15px rgba(0,0,0,0.17);
}  
.catcardcont img {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: auto;
  z-index: 100;
  box-shadow: 0 4px 10px 1px rgba(0,0,0,0.3);
}
.catcard {
  position: relative;
  margin-top: 40px;
  width: 100%;
  height: 180px;
  box-shadow: 0 1px 10px rgba(0,0,0,0.07);
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  overflow: hidden; 
  padding: 20px;
  grid-gap: 10px;
  transition: all 0.3s;
}
.catcard .ratingsdiv {
  text-align: center;
}
.catcard .ratingsdiv i {
  color: var(--color);
  font-size: 14px;
  margin: auto 2px;
}
.catcard h6 {
  font-size: 14px;
  color: #555;
}
.catcard small i {
  margin-right: 5px;
}
.catcard small {
  color: #aaa;
}

.categcont {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 20px;
}
.categdiv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 300px;
  height: 180px;
  grid-gap: 10px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.categdiv img {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: brightness(25%);
}
.categdiv h5 {
  font-size: 16px;
  color: #fff;
}
.categdiv small {
  margin-top: 5px;
  display: block;
  color: #bbb;
}
.categdiv button {
  margin-top: 30px;
  background: #fff;
  color: #333;
}

.settingscont {
  position: relative;
  width: 98%;
  padding-bottom: 40px; 
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0px 10px rgba(0,0,0,0.1);
  margin: 20px auto;
}
.headernav {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #eee;
  padding: 20px;
  grid-gap: 30px;
}
.headernav a {
  font-size: 14px;
  color: #777;
  font-weight: 600;
  padding: 20px 0;
}
.headernav .activenavlink {
  color: var(--color)
}
.settingscontent {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px 50px;
  padding: 20px 40px;
}
.settingscontent h5 {
  margin: 10px 0;
  margin-bottom: 40px;
  color: #777;
}

/*Login CSS */
.loginpage {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
}
.logincont {
  position: relative;
  width: 550px;
  background: #fff;
  box-shadow: 0 0 10px rgba(104, 43, 255,0.1);
  border-radius: 10px;
  border: 1px solid rgba(104, 43, 255,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-gap: 10px;
  padding: 50px 30px;
}
.mainlogicon {
  font-size: 25px;
  color: var(--color);
}
.logincont {
  text-align: center;
}
.logincont h3 {
  color: #555;
  font-size: 24px;
}
.logincont form label {
  position: relative;
  margin: 8px auto;
}
.logincont form label input {
  width: 300px;
} 
.logincont form {
  position: relative;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logincont button {
  width: 300px;
  margin-top: 10px;
}
.logincont a {
  color: var(--color);
}
.logincont a:hover {
  text-decoration: underline;
}
.logincont small {
  margin-top: 20px;
}
.logincont small span {
  cursor: pointer;
  color: var(--color);
}
.logincont small span:hover {
  text-decoration: underline;
}
.errormsg {
  font-size: 11px;
  padding: 5px 10px;
  color: rgb(255, 19, 70);
  width: 300px;
} 

.settingspage h5 {
  font-size: 15px;
}
.settingspage label h6 {
  margin-bottom: 10px;
  color: #444;
  font-size: 12px;
}
.settingsgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-bottom: 40px;
}
.settingsgrid input {
  width: 100%;
  padding: 15px 10px;
}
.settingsheadrow {
  grid-column: 1/-1;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  grid-gap: 30px 70px;
}
.settingprofpic {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  box-shadow: 0 7px 15px rgba(0,0,0,0.2);
  background-position: center;
  background-size: cover;
}
.settingsinfotxt {
  grid-column: 2/-1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.settingsinfotxt h4 {
  color: #333;
  font-size: 27px;
}
.settingsinfotxt span {
  color: #999;
  font-size: 14px;
  display: block;
  margin-top: 10px;
}
.settingsinfotxt span i {
  margin-right: 7px;
}
button.savesettingbtn { 
  margin-top: 30px;
  min-width: 100px;
  padding: 12px 10px;
}

/* iOS Style Button */
.form-switch{display:inline-block;cursor:pointer;-webkit-tap-highlight-color:transparent}
.form-switch i{position:relative;display:inline-block;margin-right:.5rem;width:46px;height:26px;background-color:#e6e6e6;border-radius:23px;vertical-align:text-bottom;transition:all .3s linear}
.form-switch i::before{content:"";position:absolute;left:0;width:42px;height:22px;background-color:#fff;border-radius:11px;transform:translate3d(2px,2px,0) scale3d(1,1,1);transition:all .25s linear}
.form-switch i::after{content:"";position:absolute;left:0;width:22px;height:22px;background-color:#fff;border-radius:11px;box-shadow:0 2px 2px rgba(0,0,0,.24);transform:translate3d(2px,2px,0);transition:all .2s ease-in-out}
.form-switch:active i::after{width:28px;transform:translate3d(2px,2px,0)}
.form-switch:active input:checked+i::after{transform:translate3d(16px,2px,0)}
.form-switch input{display:none}
.form-switch input:checked+i{background:var(--color)}
.form-switch input:checked+i::before{transform:translate3d(18px,2px,0) scale3d(0,0,0)}
.form-switch input:checked+i::after{transform:translate3d(22px,2px,0)} 

.switchdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #b2bbca20;
  padding: 10px;
  border-radius: 5px; 
}
.switchdiv h6 { 
  font-size: 14px;
  color: #777;
  text-transform: capitalize;
}
.settingspage .settingsgrid {
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}
.settingspage select {
  border: none;
  background: #f5f5f5;
  padding-left: 10px; 
  border-radius: 6px;
}

.darkapp {
  background: var(--dark);
}

























@media (max-width: 1700px) {
  .appcontainer {
    grid-template-columns: 200px auto 300px;
  }
}
@media (max-width: 1500px) {
  .extrascont {
    flex-direction: column;
  }
}



